<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite" parallel = "tests">

<listeners>


      <listener class-name="extentreports.ExtentListeners"/>

</listeners>

  <test name="Chrome Test">
    <parameter name ="browser" value="chrome"/>
  
    <classes>
    
   	<class name="testcases.FlightSearch"/>    	
     <class name="testcases.HotelSearch"/>
      
    </classes>
  </test> <!-- Test -->
  
  <test name="FirefoxTest">
    <parameter name ="browser" value="firefox"/>
  
    <classes>
    
   	<class name="testcases.FlightSearch"/>    	
     <class name="testcases.HotelSearch"/>
      
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
